<div class="overall-wrapper">
    <div class="details-wrapper">
        <!-- The rows are actually columns to accommodate varying content lengths -->
        <div class="row flex-col">
            <div class="col-12">
                <app-contact></app-contact>
            </div>
            <div class="col-12">
                <app-aim></app-aim>
            </div>
            <div class="col-12">
                <app-motto></app-motto>
            </div>
        </div>

        <div class="row flex-col">
            <div class="col-12">
                <app-tech></app-tech>
            </div>
        </div>
    </div>
</div>