<div class="glass generic-wrapper">
    <div class="generic-title">
        <span class="text">Words We Embody &nbsp; &nbsp; &nbsp; &nbsp;</span>
    </div>
    <div class="generic-details">
        <span class="detail-align" class="quote">
            <i>विद्या ददाति विनयम् </i>
        </span>
        <span class="detail-align">
            This is a very popular verse which appears in Hitopadesha (0.6) of Narayana Pandita. 
            The usual translation of this verse in English is "Knowledge makes one humble." We embody this 
            shloka and try to strive by it.
        </span>
    </div>
</div>