@use "sass:math";

// Variables
$primary-bg-color: #1F2024;
$blob-colors: #b9c6ff, #FF77A9, #6FDFDF, #8E7CC3, #f5ff9e; // Muted blues, teals, and purples
$num-blobs: 15; // Total number of blobs

// Wrapper
.wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible; // Ensure contents are not clipped
}

// Gradient Background
.gradient-background {
  position: fixed; /* Ensures background covers entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100; /* Ensures background is behind all other content */
  background: linear-gradient(198deg, #242632, #151515);
  background-size: 150% 150%;
  animation: gradient-animation 2s ease-in-out infinite;
}

// Blob Container
.blob-c {
  position: absolute; /* Use absolute to align blobs correctly */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: -50; /* Ensure blobs are above the gradient but behind content */
  filter: blur(40px);
  pointer-events: none; /* Ensure blobs do not interfere with interactions */
}

// Blobs
@mixin blob($i) {
  $size: math.random(math.div(100px, 1px)) * 1px + 50px; // Blob size between 50px and 150px
  $color: nth($blob-colors, math.random(length($blob-colors))); // Randomize color
  $animation-duration: math.random(math.div(15s, 1s)) * 1s + 5s; // Animation duration

  $x-range: math.random(100%) * 1%; // Horizontal positioning
  $y-range: math.random(100%) * 1%; // Vertical positioning

  .shape-blob-#{$i} {
    width: $size;
    height: $size;
    background: $color;
    position: absolute;
    left: $x-range;
    top: $y-range;
    opacity: 0.6;
    border-radius: 40% 50% 30% 40%;
    animation: transform $animation-duration ease-in-out infinite both alternate,
               movement $animation-duration * 1.2 ease-in-out infinite both;
  }
}

// Generate Blobs
@for $i from 1 through $num-blobs {
  @include blob($i);
}

// Keyframes for Blob Transformations
@keyframes transform {
  0%, 100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; }
  20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; }
  40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; }
  60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; }
  80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; }
}

// Keyframes for Movement
@keyframes movement {
  0%, 100% { transform: translate(0, 0) scale(1); }
  25% { transform: translate(60px, -40px) rotate(30deg) scale(1.1); }
  50% { transform: translate(-80px, 70px) rotate(-60deg) scale(1.5); }
  75% { transform: translate(100px, -60px) rotate(45deg) scale(1.3); }
}
