.details-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2.5rem);
    position: absolute;
    left: 1.25rem;
    top: calc(5rem + 8px);
  
    app-contact {
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInSlideUp 0.8s ease forwards; 
    }
  }
  
  @keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  