<div class="glass generic-wrapper">
    <div class="generic-title">
        <span class="text">Contact Us</span>
    </div>
    <div class="generic-details">
        <span class="detail-align">
            <img src="assets/icons/email.svg" />
            &nbsp;&nbsp;
            E-Mail&nbsp;:&nbsp;solutionsvstechz&#64;gmail.com
        </span>
        <span class="detail-align">
            <img src="assets/icons/phone.svg" />
            &nbsp;&nbsp;
            Phone Number&nbsp;:&nbsp;(+91)9972141367
        </span>
    </div>
</div>