<div class="glass contact-wrapper">
    <div class="contact-title">
        <span class="text">Contact Us &nbsp; &nbsp; &nbsp; &nbsp;</span>
    </div>
    <div class="contact-details">
        <span class="detail-align">
            <img src="assets/icons/email.svg" />
            &nbsp;&nbsp;
            E-Mail&nbsp;:&nbsp;solutionsvstechz&#64;gmail.com
        </span>
        <span class="detail-align">
            <img src="assets/icons/phone.svg" />
            &nbsp;&nbsp;
            Phone Number&nbsp;:&nbsp;(+91)9972141367
        </span>
    </div>
</div>