.gradient-background {
    background: linear-gradient(198deg,#a65e46,#07203f);
    background-size: 150% 150%;
    animation: gradient-animation 2s ease-in-out infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 75%;
    }
    50% {
      background-position: 100% 75%;
    }
    100% {
      background-position: 0% 75%;
    }
  }